body{
    background-color: rgb(250,250,250);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.corona{
    width: 370px;
    margin-top: 40px;
}

.safe{
    width: 100px;
    position: absolute;
    top: 3vw;
    left: 7vw;
}

@media(max-width:720px){
    .container{
        margin: 0 10%;
    }

    .corona{
        width: 100%;
    }
}